.hover-elephant {
  position: absolute;
  right: 0%;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-image: url("/media/elephant.png");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0px 3px rgb(0 0 0);
  z-index: 1;
}

.hover-elephant:hover {
  background-image: url("/media/elephant-hover.png");
}